body {
    background-color: white;
}


.centered {
    text-align: center;
}

#web_header {
    font-size: 60px;
    color: white;
    background-color: black;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}